@font-face {
    font-family: Avenir LT STD Roman;
    src: url(./assets/font/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: Avenir LT Black;
    src: url(./assets/font/AvenirLT95Black.ttf);
}